  h1 {
                color:#025157;
            }
            body {
                background-color:  #fffbf7;
                
            }
            .p1{
                color:#46484c;
            }
            .p2{
                color:#8b8b8b
            }
            .p3{
                color:#343434
            }
            .try{
                background-color: #025157;
                color:#fff;
                padding: 3px;
                border-radius: 5px;
            }
            .start{
                background-color: #67b54b ;
                color:#fff;
                padding: 12px 14px;
                border:none;
                border-radius: 5px;
               

            }
            .header{
                margin: 40px 20px 0px 20px;
                font-size: 0px;
                position: fixed;
                top:0px

            }
            li{
                display: inline;
                color:#025157;
                margin:0px 25px;
            }
            .header > * {
                display: inline-block;
                font-size: 16px;
                vertical-align: middle;
                height: 100%;
                line-height: 45px;
                font-family: sans-serif;
            }
            .logo{
                width: 15%;
            }
            .logo > img {
                width:50%
            }
            .navbar{
                width: 70%;
                font-weight: 500;
                text-align: center; 
            }
            .actions{
                width: 15%;
                font-weight: 700;
                text-align: right;
                
            }
            .actions > *{

                font-size: 14px;
                margin: 0px 10px;

            }
            .actions > a{

            color:#67b54b ;

            }
            .main{
                margin-top: 140px;
                text-align: center;
            }
            .container{
                display: flex;
                gap: 12px;
            }
            .publish{
                display: flex;
                flex-direction: column;
            }
            .publish > form{
                display: flex;
                flex-direction: column;
            }
            .publishVid{
                display: flex;
                flex-direction: column;
                align-items: center;
            
            }

